@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

html {
  font-family: laca;
  background: $background;
  background-color: $warning;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  background: $white;
  margin-bottom: 0 !important;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  margin: 20px;
  padding: 30px;
  color: $info;
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  padding: 30px 0;
  justify-content: center;
  font-weight: 600;
  overflow: auto;
  background: $info;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      margin: 0 10px 0;
      a {
        color: $white;
      }
    }
  }
}

.field {
  input {
    margin: 10px 10px 0;
  }
}

.description {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.card {
  margin: 30px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $warning;
  border-radius: 25px;
  cursor: pointer;
  .card-image {
    align-self: center;
    padding: 10px;
  }
  img {
    width: 300px;
  }
}

.card:hover {
  transform: scale(1.05);
}

li:hover {
  transform: scale(1.05);
}

.sidebar {
  height: 100%;
  width: 30%;
  float: right;
  overflow: auto;
  padding: 45px;

  background-color: $info;

  h2 {
    text-align: center;
    color: $white;
    font-weight: 800;
  }
  ul {
    list-style: none;

    li {
      text-decoration: dashed;
      margin: 45px;
      a {
        color: $white;
        font-weight: 700;
      }
    }
  }
}

footer {
  background-color: $warning !important;
  display: flex;
  justify-content: space-evenly;

  a {
    padding-top: 50px;
    font-size: 20px;
  }
}
